body {
    font-family: "Noto Sans", sans-serif;
}

.dropbox-btn {
    color: black;
    background: whitesmoke;
    border: none;
}

.custom-form-card {
    box-shadow: none !important;
}

.card-header h4 {
    margin-bottom: -10px;
    margin-left: -17px;
}

.designforform {
    background-color: white;
    border: 1px solid #e6e6e6 !important;
    padding: 30px;
    border-radius: 8px;

}

body {
    font-family: "Noto Sans", sans-serif;
}

.card-custom {
    border-radius: 1rem;
    padding: 1rem;
    background: white;
    height: 100%;

}

.status-badge {
    border-radius: 1rem;
    padding: 0.3rem 1rem;
    font-size: 0.8rem;
    font-weight: 600;
}

.nav-pills .nav-link {
    color: black;
}

.nav-link {
    margin: 2px;
}


.nav-pills .nav-link.active {
    color: white !important;
    background-color: #0d6efd;
}

.cards-shadow {
    border-radius: 10px;
}

.icon {
    padding: 5px 20px;
    border-radius: 14px;
}

.icon-size {
    font-size: small;
    font-weight: 500;
}

.icon2 {
    padding: 7px 14px;
    border-radius: 13px;
}

@media (min-width:1024px) {
    .media {
        margin-left: 110px;
        margin-right: 110px;
    }

}

.leftbar-design {
    display: flex !important;
    align-items: center;
    gap: 8px;
}

.span-class-link {
    display: flex;
    flex-direction: column;
}

.hindi-text {
    font-weight: 300;
}

#side-menu li:hover {
    background-color: rgb(242, 241, 241) !important;
    border-radius: 5px !important;
}

#side-menu li:focus {

    background: #007bff !important;
    color: white !important;
}

.nav-menu .nav-item.active {

    background: #007bff !important;
    color: white !important;

}